@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #FFFFFF;
  font-family: 'Roboto', sans-serif; /* Fuente general */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace; /* Fuente para elementos <code> */
}

.botonMenu{
  transform: translate(-24px, 0px);
}


/*LOGIN*/
.logo {
  transform: translate(-10px, 25px); /* Mueve la imagen 70 píxeles a la izquierda y 100 píxeles hacia arriba */
  width: 500px; /* Define el ancho de la imagen en 200 píxeles */
  height: 400px;
}
.esquina {
  transform: translate(-148px, 35px); /* Mueve la imagen 70 píxeles a la izquierda y 100 píxeles hacia arriba */
  width: 150px; /* Define el ancho de la imagen en 200 píxeles */
  height: 150px;
}

.esquina2 {
  transform: translate(315px, -25px); /* Mueve la imagen 70 píxeles a la izquierda y 100 píxeles hacia arriba */
  width: 150px; /* Define el ancho de la imagen en 200 píxeles */
  height: 150px;
}

.dog {
  transform: translate(178px, 43px); /* Mueve la imagen 70 píxeles a la izquierda y 100 píxeles hacia arriba */
  width: 400px; /* Define el ancho de la imagen en 200 píxeles */
  height: 370px;
}


/*REGISTRO*/
.menu {
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; 
}

.form {
  max-width: 500px;
}

/* Menu.css */

.menu {
  
  display: flex;
  align-items: center;
}

.menu-logo {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}

.nombrec {
  transform: translate(75px, 10px);
  height: 35px;
  width: 1000px;
}

.nombre {
  transform: translate(80px, 10px);
  width: 250px;
}
.apellidoc {
  transform: translate(75px, 30px);
  height: 35px;
  width: 1000px;
}

.apellido {
  transform: translate(80px, 30px);
  width: 250px;
}

.dpi {
  transform: translate(80px, 50px);
  width: 200px;
}

.dpic {
  transform: translate(75px, 51px);
  
  height: 35px;
  width: 800px;
}
.correo {
  transform: translate(80px, 70px);
  width: 200px;
}

.correoc {
  transform: translate(75px, 73px);
  
  height: 35px;
  width: 800px;

}
.telefono {
  transform: translate(80px, 73px);
  width: 200px;
}

.telefonoc {
  transform: translate(75px, 73px);
  
  height: 35px;
  width: 800px;

}
.contraseña {
  transform: translate(80px, 98px);
  width: 200px;
}

.contraseñac {
  transform: translate(75px, 95px);
  
  height: 35px;
  width: 800px;

}

.confirmar {
  transform: translate(80px, 75px);
  width: 200px;
}


.confirmarc {
  transform: translate(75px, 73px);
  
  height: 35px;
  width: 800px;

}

.direccionc {
  transform: translate(75px, 100px);
  
  height: 35px;
  width: 800px;

}

.direccion {
  transform: translate(75px, 100px);
  width: 200px;
}

.boton {
  transform: translate(325px, 130px);
  height: 45px;
  width: 150px;
  transition: transform 0.3s ease; /* Agrega una transición a la propiedad transform */
}

.boton:hover {
  transform: translate(325px, 130px) scale(1.1); /* Al pasar el ratón, aumenta el tamaño del botón */
}
.boton:active{
  
  transform: translate(325px, 130px) scale(.98);
}


.vector {
  transform: translate(1px, -183px);
  
  height: 350px;
  width: 4975px;
  position: absolute;
  z-index: -1;

}
/* App.css */

.form {
  position: relative;
  z-index: 1;
}

.check {
  transform: translate(-350px,200px);
}

.check:hover {
  transform: translate(-350px,200px) scale(1.01); /* Al pasar el ratón, aumenta el tamaño del botón */
}
.check:active{
  
  transform: translate(-350px,200px) scale(.98);
}


/*PANTALLA PRINCIPAL*/
.TextoGeneral {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.parrafoGeneral{
  transform: translate(-350px, -15px);
}

.vectorPrincipal {
  transform: translate(0px, -121px);
  
  height: 255px;
  width: 4990px;
  position: absolute;
  z-index: -1;

}

.Contacto {
  transform: translate(100px, 115px);
  
  height: 120px;
  width: 1150px;

}

.titulo2 {
  transform: translate(80px, 200px);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
}


.figura{
  transform: translate(410px, 105px);
  
  height: 120px;
  width: 120px;

}

.mitadHoja{
  transform: translate(0px, 200px);
  height:650px;
  
  width: 1350px;
}

.huellitas {
  transform: translate(-85px, 140px);
  top: 200px; /* Ajusta la posición verticalmente según tus necesidades */
  left: 280px; /* Ajusta la posición horizontalmente según tus necesidades */
  height: 550px;
  width: 500px;
}

.granja {
  position: absolute;
  top: 115px; /* Ajusta la posición verticalmente según tus necesidades */
  left: 250px; /* Ajusta la posición horizontalmente según tus necesidades */
  height: 400px;
  width: 400px;
}

.tituloNosotros{
  transform: translate(350px,40px);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 40px;
}

.parrafoNosotros {
  transform: translate(800px, -440px);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.puntosNosotros {
  transform: translate(-500px, 300px);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}



/*CARROUSEL*/
.carousel img {
  width: 10%; /* o px fijo */
  height: auto; 
  /* object-fit: cover; -> ya no necesario */
}

.carousel {
  transform: translate(375px, 150px);
  display: flex; 
  justify-content: center;
  width: 800px; /* o px fijo */
  height: 430px; 
}
.prev {
  transform: translate(-800px, 0px);
  font-weight: bold;
  font-size: 25px;
}

.next {
  transform: translate(0px, 0px);
  font-weight: bold;
  font-size: 25px;
}


/*SERVICIOS*/

.gotas2{
  transform: translate(842px,-400px);
  position: absolute;
  z-index: -1;

  height:400px;
  
  width: 500px;
}

.panel1{
  transform: translate(100px,100px);
  position: absolute;
  z-index: -1;

  height:300px;
  
  width: 500px;
}

.panel2{
  transform: translate(750px,-10px);

  height:505px;
  
  width: 475px;
}

.nombreS{
  transform: translate(90px, 15px);
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.descripS{
  transform: translate(125px, 30px);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.nombreC{
  transform: translate(30px, 40px);
  max-width:415px;
}

.correoE{
  transform: translate(30px, 40px);
  max-width:415px;
}

.Fecha{
  transform: translate(30px, 40px);
  max-width:415px;
}

.Horario{
  transform: translate(30px, 40px);
  max-width:415px;
}

.Service{
  transform: translate(30px, 40px);
  max-width:415px;
}

.btnSolicitar {
  transform: translate(155px,25px);
  
  width: 150px;
}

.btnSolicitar:hover {
  transform:  translate(155px,25px) scale(1.01); 
}
.btnSolicitar:active{
  
  transform: translate(155px,25px) scale(.98);
}

.TextoPanel{
  transform: translate(130px, 125px);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.precio{
  transform: translate(200px,450px);
  height:40px;
  width: 85px;
  
}

.hora{
  transform: translate(400px,409px);
  height:25px;
  width: 75px;
  
}


/*HEADER*/
.user{
  height:25px;
  width: 25px;
}
.carrito{
  height:25px;
  width: 25px;
}



/*VISTA VETERINARIOS*/
.busqueda{
  transform: translate(280px,30px);
  height:35px;
  width: 700px;
  
}
.buscar{
  transform: translate(1000px,-3px);
  height:30px;
  width: 30px;
}
.div1 {
  position: absolute;
  top: 0;
  left: 0;
  height:200px;
  width: 400px; 
}

.div2 {
  position: absolute;
  top: 80px; 
  left: 0;
  height:210px;
  width: 400px;
}

.contenedor {
  max-width: 7xl;
  margin: 0 auto; 
  height: 750px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.tarjeta {
  width: 30%; 
}

.tarjetaO {
  width: 30%; 
  overflow: hidden;
}

.interior1{
  transform: translate(20px);
  height:175px;
  width: 175px;
}

.nombreV1 {
  transform: translate(250px, -176px);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.nombreV2 {
  transform: translate(250px, -176px);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.nombreV3 {
  transform: translate(250px, -178px);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.nombreV4 {
  transform: translate(50px, 50px);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.nombreV5 {
  transform: translate(270px, -176px);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;

}

.nombreV6 {
  transform: translate(270px, -176px);
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.espeV1 {
  transform: translate(220px, -176px);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

.espeV2 {
  transform: translate(220px, -176px);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

.espeV3 {
  transform: translate(220px, -178px);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

.expV1 {
  transform: translate(220px, -176px);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

.expV2 {
  transform: translate(220px, -176px);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;

}

.expV3 {
  transform: translate(220px, -178px);
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.contacto2{
  transform: translate(180px, -80px);
}

.contacto3{
  transform: translate(595px, -150px);
}

.contacto4{
  transform: translate(1010px, -220px);
}

.contacto5{
  transform: translate(180px, -618px);
}

.contacto6{
  transform: translate(600px, -685px);
}

.contacto7{
  transform: translate(1015px, -754px);
}